{% extends 'base/base.html' %}


{% block content %}

    <h1>login</h1>
    <form action="" method="POST">
        {% csrf_token %}

    
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Username">
              
            </div>
            <br>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" name="password"  placeholder="Password">
            </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
        <p>dont have ann acc?<a href="{% url 'register'%}">Register</a>.</p>
        
    </form>



{% endblock %}

