{% extends 'base/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<style>
    .container {
        margin-top: 15px;
        
    }
    .product-item {
        width: 250px;
        height: 400px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .product img {
        width: 200px;
        aspect-ratio: 1 / 1;
        height: auto;
    }
    .product h2 {
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    .product p {
        font-size: 0.9em;
        color: #666;
    }

</style>

<h4>home2</h4>


<div class="container">
    <div class="product">
        {% for product in products %}
            <div class="product-item">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" title="expand-img" style="max-width: 150px;">  
                {% endif %}
                <h5>{{ product.name }}</h5>
                <p>{{ product.description }}</p>
                <p>{{ product.date_posted }}</p>
                {% if product.is_discount %}
                    <p>was: {{ product.get_currency_display }}  {{ product.price }}</p>
                    <p>is: {{ product.currency}}  {{ product.new_price }}</p>

                {% else %}
                    <p>{{ product.get_currency_display }}  {{ product.price }}</p>
                    <p>{{ product.currency}}  {{ product.price }}</p>

                {% endif %}

                {% if product.out_of_sale %}
                    <p>PRODUCT IS OUT OF STOCK!</p>
                

                {% endif %}
                    

                

                <a href="#" data-product-id="{{ product.id }}" class="btn btn-sm btn-outline-dark me-2 add-to-wishlist" title="add to wishlist">
                    <i class="fa fa-heart"></i> <!-- Font Awesome heart icon -->
                </a>
                
                <a href="{% url 'view_cart' %}" data-product-id="{{ product.id }}" class="btn btn-sm btn-outline-dark" title="add to cart">
                    <i class="bi-cart-fill me-1"></i>
                    <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity"></span>
                </a>
                
                <a href="{% url 'product_view1' product.name %}" data-product-id="{{ product.id }}" class="btn btn-sm btn-outline-dark" title="view more">
                    <i class="fa-solid fa-eye"></i>
                    <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity"></span>
                </a>
                
                <!-- href="{% url 'cart:add_to_cart' product.id %}" -->

            </div>

        {% endfor %}
    </div>



    <h1 id="about">Store Info</h1>
    <p> We carry an amazing selection of retro and next gen video games. We also offer a complete disk repair department, using only the highest quality equipment. Check out our exclusive “History of Gaming” museum; an awesome display of all the historic consoles and accessories that have paved the way for gaming as we know it today. Level Up Video Games is a cool and original game store like no other game store you have ever seen.</p>

    <p>Playing video games has spanned decades now. From the original Atari 2600 that spurred the home console market to today's modern consoles, video games have continued to capture a larger and larger audience. The 80's and 90's are what we consider the "Golden Age" of video games. Classic video games like Mario Bros., Pac Man, Donkey Kong and others paved the way to attracting audiences of all ages. We have Nintendo and Sega to thank for that. However, retro gaming also encompasses Sony Playstation and Xbox original classics like Final Fantasy VII and Halo that sparked the path of JRPG and FPS style gaming. We can go on and on with examples of groundbreaking games but you get the point!</p>
        
    <p>Level Up Video Games has been selling games since 2007 and our staff has been playing games since the dawn of the home console. As with most people who have been playing for as long as we have, we have always valued our roots in gaming. The excitement and satisfaction of completing Legend of Zelda or Mega Man for the first time, those moments remain always engrained in our hearts and minds. Today games have exploded into main stream and the expansion has brought many new concepts and extraordinary developments in gaming. Many of the indie game developers have reached back in time to respawn a new generation into retro style video gaming and new generations of classic game enthusiasts.</p>

<br><br><br><br><br><br><br><br>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Initialize Bootstrap tooltips
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl, {
                delay: { "show": 500, "hide": 100 } // Set delay (milliseconds)
            });
        });

        // Initialize AJAX handling for wishlist button
        $(document).ready(function() {
            $('.add-to-wishlist').click(function(event) {
                event.preventDefault(); // Prevent the default link behavior
                var productId = $(this).data('product-id');

                $.ajax({
                    type: 'POST',
                    url: '{% url "add_to_wishlist" %}',
                    data: {
                        'product_id': productId,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if (response.status === 'success') {
                            alert(response.message); // Show success message
                        } else {
                            alert(response.message); // Show info message
                        }
                    },
                    error: function() {
                        alert('An error occurred.');
                    }
                });
            });
        });
    });
</script>

    
    


{% endblock %}

