<header>
    <h1>Game Store</h1>
    {% if user.is_superuser %}
        <p class="admin-message">Welcome, Admin!</p>
    {% endif %}
</header>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Consoles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Accessories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#information">Contact</a>
                    </li>

                    <!-- Dropdown Menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    
                    {% if user.is_authenticated %}
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout_url'%}" >Logout</a>
                    </li>
                        <!-- <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
                            {% csrf_token %}
                        </form>
                        <li class="nav-item">
                            <a class="nav-link" href="#" >Logout</a>
                        </li> -->
                    {% endif %}
                </ul>

                <!-- Space for the search bar -->
                <form class="d-flex me-auto" method=POST action="{% url 'search-bar' %}">
                    {% csrf_token %}

                    <input class="form-control me-2" type="search" placeholder="Search Game Store" aria-label="Search" name ="searched">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

                <div class="icons d-flex">
                    <a href="{% url 'wishlist_display1' %}" class="btn btn-sm btn-outline-dark me-2">
                        <i class="fa fa-heart"></i> <!-- Font Awesome heart icon -->
                    </a>
                    <a href="{% url 'login' %}" class="btn btn-sm btn-outline-dark me-2">
                        <i class="far fa-user-circle"></i> <!-- Font Awesome user circle icon -->
                    </a>
                    <a href="{% url 'viewcart_url' %}" class="btn btn-sm btn-outline-dark">
                        <i class="bi-cart-fill me-1"></i>
                        <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">0</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>


