

{% extends 'base/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <style>
         .product-item {
            width: 150px;
            height: 400px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        .product img {
            width: 200px;
            aspect-ratio: 1 / 1;
            height: auto;
        }
        .product h2 {
            font-size: 1.2em;
            margin-bottom: 10px;
        }
        .product p {
            font-size: 0.9em;
            color: #666;
        }
    </style>
    <div class="product-item">
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}" title="expand-img" style="max-width: 150px;">  
        {% endif %}
        <h5>{{ product.name }}</h5>
        <h2>CATEGORY{{ product.category }}</h2>
        <p>{{ product.description }}</p>
        <p>{{ product.date_posted }}</p>
        {% if product.is_discount %}
            <p>was: {{ product.get_currency_display }}  {{ product.price }}</p>
            <p>is: {{ product.currency}}  {{ product.new_price }}</p>

        {% else %}
            <p>{{ product.get_currency_display }}  {{ product.price }}</p>
            <p>{{ product.currency}}  {{ product.price }}</p>

        {% endif %}

        {% if product.out_of_sale %}
            <p>PRODUCT IS OUT OF STOCK!</p>
        

        {% endif %}

        <a href="#" data-product-id="{{ product.id }}" class="btn btn-sm btn-outline-dark me-2 add-to-wishlist" title="add to wishlist">
            <i class="fa fa-heart"></i> <!-- Font Awesome heart icon -->
        </a>
        
        <a href="{% url 'viewcart_url' %}" data-product-id="{{ product.id }}" class="btn btn-sm btn-outline-dark" title="add to cart">
            <i class="bi-cart-fill me-1"></i>
            <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity"></span>
        </a>


    </div>

{% endblock %}