{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<style>
    .h1{
        align-content: center;
        justify-content: center;
        display: flex;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto; /* Center horizontally */
        max-width: 1200px; /* Adjust as needed */
        padding: 0 15px; /* Add padding to ensure content does not touch container edges */
        box-sizing: border-box; /* Ensure padding is included in the width */
    }

    .product {
        display: flex;
        flex-wrap: wrap;
        gap: 20px; /* Space between product items */
        justify-content: center; /* Center product items within the container */
    }

    .product-item {
        width: calc(33.333% - 20px); /* Adjust width for responsiveness */
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        box-sizing: border-box; /* Ensure padding and border are included in width */
        overflow: hidden; /* Hide overflowed content */
        text-align: center; /* Center text and other inline elements */
        max-width: 400px; /* Maximum width for larger screens */
    }

    .product img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto; /* Center the image */
    }

    .product h2 {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    .product p {
        font-size: 0.9em;
        color: #666;
        margin: 5px 0; /* Margin for spacing */
        overflow-wrap: break-word; /* Break long words to prevent overflow */
    }

    .store-info {
        margin-top: 30px;
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .page-link {
        padding: 10px 15px;
        margin: 0 5px;
        border: 1px solid #ccc;
        color: #333;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .page-link.active {
        background-color: #333;
        color: #fff;
    }

</style>
    <br>
    {% if searched %}
        <h1 class="h1">You Searched For {{ searched }}</h1> 
        <br>
        <div class="product">
            {% for item in product %}
                <div class="product-item">
                    {% if item.image %}
                        <img src="{{ item.image.url }}" alt="{{ item.name }}" title="expand-img" style="max-width: 150px;">  
                    {% endif %}
                    <h5>{{ item.name }}</h5>
                    <p>{{ item.description }}</p>
                    <p>{{ item.subcategory }}</p>
                    <p>{{ item.date_posted }}</p>
                    {% if item.is_discount %}
                        <p>was: {{ item.get_currency_display }} {{ item.price }}</p>
                        <p>is: {{ item.currency }} {{ item.new_price }}</p>
                    {% else %}
                        <p>{{ item.get_currency_display }} {{ item.price }}</p>
                        <p>{{ item.currency }} {{ item.price }}</p>
                    {% endif %}
                    {% if item.out_of_sale %}
                        <p>PRODUCT IS OUT OF STOCK!</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
